@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

body {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    margin: 0 auto;
/*    display: flex;*/
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 3.5rem;
    line-height: 1.5rem;
}

main {
/*    flex: 1;*/
    max-width: 1440px;
    margin: 0 auto;
}

a,
#viewMapBtn {
    text-decoration: none;
    color: #339999;
}

#viewMapBtn {
        margin-top: 2.5rem;
}

a:hover {
    cursor: crosshair;
}

#viewMapBtn:hover {
    cursor: zoom-in;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #336633;
}
h2 {
    font-size: 1.8rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.navbar {
    background: #fff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    font-size: 1.2rem;
    font-weight: 200;
      text-shadow: 0 0 25px #0000CD, 0 0 40px #ADD8E6;

}

.navbar .menu {
    display: flex;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    padding-left: 1rem;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #339999;
}

.hero {
    padding: 0;
    text-align: left;
}

iframe {
    width: 1200px;
    height: 100vh;
}

footer {
    color: #cccc99;
    padding: 0.2rem 1rem;
    text-align: center;
}
footer a {
        color: #cccc99;
}

#glossary {
    padding: 1.5rem 0 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

#glossary h1 {
    text-align: left;
    margin: 2rem 1rem 1.5rem 1rem;
}

#glossary .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* One column per row */
    
    /* Center horizontally */
}

#glossary .card {
  flex-direction: column;
  width: 100%; /* Ensure card fills the grid column */
  box-sizing: border-box;
}

#glossary strong {
    font-size: 1.05rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
}
#glossary-intro {
    margin-left: 1.2rem;
    padding-right: 0.8rem;
}

/* about styles below */

#about-main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.4rem;
    align-items: flex-start;
}

#about-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.card .tags {
    font-size: 0.9rem;
    color: #555;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.25rem;
    padding: 1rem 1rem;
}

.card {
    border: 0.5px solid #99cccc;
    border-radius: 2px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
.card p {
    margin: 0;
    line-height: 1.2rem;
}

#filters {
    padding: 1rem 0.5rem;
    border: 0.5px solid #99cccc;
    margin: 1rem;
    border-radius: 2px;
}

#filters fieldset {
    border: none;
    line-height: 1.5rem;
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
}

fieldset legend {
    font-weight: bold;
}

#filter-buttons {
    margin: 0.5rem 1rem;
}
#funding-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#caseStudyMain p {
    padding:0;
    margin:0;
    line-height: 1.2rem;
}
#caseContent p {
    margin: 0;
    line-height: 1.2rem;
}

.close-btn {
    position: absolute;
    right: 1rem;
    margin-top: 1.5rem;
}
#toggleFiltersBtn, #reset-btn, #open-map-btn {
    border: 1px solid #99cc99;
    border-radius: 2px;
    padding: 0.4rem;
    font-size: 1rem;
    background: white;
    font-family: "Forum", serif;
    color: #006699;
}
#reset-btn a, #open-map-btn a {
    color: #99cc99;
}

@media (max-width: 768px) {
    .navbar .menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .navbar {
        padding: 1rem 1rem 1rem 0;
    }

    .navbar .menu.active {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .navbar-toggle {
        display: block;
    }
    h1 {
        font-size: 1.7rem;
        margin-top: 0;
        padding: 0;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    footer {
        font-size: 0.8rem;
        text-align: left;
    }
    .card {
        padding: 0.6rem;
    }
    .close-btn {
        margin-top: 0.2rem;
    }
    .hero .card {
        border: 0;
    }
}

/*styles terms in glossary */
#glossary .card > :first-child::first-line {
    font-weight: 900;
    font-size: 1.2rem;
}


